<h1>Add New Product</h1>

<form action="/product" method="POST">
    <input type="text" name="product[name]" placeholder="Enter Product Name" required>
    <input type="number" name="product[mrp]"  placeholder="Enter Product MRP" required>
    <input type="text" name="product[description]" placeholder="Enter Product Description">
    <button>Add New Product</button>
</form>